// Body
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'UTM BryantLG';
  src: url("/fonts/UTM_BryantLG_B.ttf");
  src: url("/fonts/UTM_BryantLG.ttf");
  src: url("/fonts/utm_bryantlg-webfont.woff");
  src: url("/fonts/utm_bryantlg-webfont.woff2");
}

// Typography
$font-family-UTM: 'UTM_BryantLG';
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-color: #B2D235;
$body-bg: #f8fafc;
$gray: #505353;
$white: #E2E2E2;
$strong-blue: #11114e;
$btn-shadow-color: #94af2b;
$card-title-color: #D2D235;
$orange: #DC594C;
$special-orange: #E14E40;
$dark-slate-blue: #3F6185;
$sky-blue: #24ABE2;
$ocean-blue: #1B75BB;
$message-white: #F1F0F0;

.main-button {
  background-color: $main-color;
  border-color: $main-color;
  border-radius: 1.5em;
  padding: 0.5em 1.5em;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
  min-height: 54vh;
}
