// Body
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'UTM BryantLG';
  src: url("/fonts/UTM_BryantLG_B.ttf");
  src: url("/fonts/UTM_BryantLG.ttf");
  src: url("/fonts/utm_bryantlg-webfont.woff");
  src: url("/fonts/utm_bryantlg-webfont.woff2");
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-color: #B2D235;
$body-bg: #f8fafc;
$gray: #505353;
$white: #E2E2E2;

main {
  min-height: 54vh;
}
