.col {
  margin-top: 2rem;
}

.card {
  box-shadow: 0px 0px 10px 0px #00000040;

  .card-img-top {
    width: 100%;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    text-align: center;

    .card-top {
      .card-title {
        margin-left: 20%;
        color: $main-color;
        max-width: 20ch;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }

      .card-text {
        margin: 1em;
      }
    }

    .card-bot {
      margin-top: auto;
    }
  }

  .button-success {
    margin: 1.5em auto;
    margin-bottom: 5em;
    @extend .main-button;

    a {
      color: $white;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
}

.heading-courses,
.list-title {
  text-align: center;
  font-size: 80px;
  margin: 30px auto;
  border-bottom: 5px solid $main-color;
  width: 50%;
  font-family: $font-family-UTM;
  font-weight: 800;
  color: $strong-blue;
}

.course-footer {
  text-align: center;
  font-size: 49px;
  margin: 30px auto;
  width: 80%;
  color: $main-color;
  font-weight: 800;
  text-transform: capitalize;

  .course-text {
    font-family: $font-family-UTM;
  }

  .fa-arrow-right-long {
    width: 47.09px;
    transform: translateY(8px);
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .heading-courses {
    font-size: 50px;
  }

  .card {
    display: flex;
    flex-direction: row;

    .card-img-top {
      width: 40%;
      height: 100%;
    }

    .card-body {
      width: 50%;
      text-align: justify;

      .card-text {
        margin: 0;
      }

      .button-success {
        width: 60%;
        margin-bottom: 0;
        float: right;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .heading-courses {
    font-size: 50px;
  }

  .card {
    display: flex;
    flex-direction: row;

    .card-img-top {
      width: 40%;
      height: 100%;
    }

    .card-body {
      width: 50%;
      text-align: justify;

      .card-text {
        margin: 0;
      }

      .button-success {
        width: 60%;
        margin-bottom: 0;
        float: right;
      }
    }
  }
}

@media (max-width: 375px) {
  .row {
    transform: translateY(3%);
  }

  .row .heading-courses {
    font-size: 40px;
    width: 75%;
  }

  .course-text {
    font-size: 22px;
  }
}
